.media-details {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.img-rec-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.img-detail-sq {
    width: 350px;
    margin-right: 10px;
}
.img-detail-rec {
    width: 180px;
}

.border-right {
    border-radius: 5px 0 0 5px;
}
.border-left {
    border-radius: 0 5px 5px 0;
}
// **************************************************
.main-details {
    display: flex;
    justify-content: space-between;
}
.cycle-list {
    display: flex;
    // margin-bottom: 5px;
    flex-direction: column;
    width: 200px;
    height: 500px;
}
span {
    font-size: 25px;
}
//**************************************************
