.EventiEdit {
    padding: 20px;
    // background-color: rgb(216, 165, 165);
    height: 100%;
    justify-content: center;
}
.edit-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    input,
    select {
        background-color: unset;
        border: none;
        height: 40px;
        border-bottom: 2px solid black;
    }
    .uploader {
        cursor: pointer;
        width: 230px;
        height: 35px;
        border-radius: 7px;
        text-align: center;
        line-height: 35px;
    }
    button:hover,
    .uploader:hover {
        background-color: $clr4;
        transition: all 0.8s;
    }
    .disabled {
        pointer-events: none;
    }
}
.cyclesBox {
    min-width: 30%;
    border: 1px solid limegreen;
}
