.main-header {
    background-color: $clr2;
    justify-content: space-between;

    .header-logo {
        font-size: rem(28px);
        color: $clr6;
        margin-inline-start: 20px;
    }

    .header-logo :hover {
        text-decoration: none;
    }

    .login-btn {
        width: rem(70px);
        font-size: rem(15px);
        background-color: $clr1;
        color: whitesmoke;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        margin-inline-start: 75px;
        padding-bottom: 2px ;
        // background-color: $clr6;
        // color: $clr2;
    }

    .signup-btn {
        width: rem(70px);
        font-size: rem(15px);
        background-color: $clr1;
        color: whitesmoke;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        margin-inline-start: 5px;
        padding-bottom: 2px ;
        // background-color: $clr6;
        // color: $clr2;
    }

    .header-list {
        li {
            margin-inline-end: 52px;
        }

        a {
            color: $clr6;
            font-weight: 700px;
        }
    }

    nav .active {
        color: $clr1;
    }
}
