.eventiFeaturedPost {
    position: relative;
    background-color: white;
    color: white;
    margin-bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}
.eventiFeaturedPostContent {
    position: relative;
    padding: 3px;
}
//**************************************************************
.hostFeaturedPost {
    position: relative;
    background-color: white;
    color: white;
    margin-bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hostFeaturedPostContent {
    position: relative;
    padding: 3px;
}
//*************************************************************
.reviewsFeaturedPost {
    position: relative;
    background-color: white;
    color: white;
    margin-bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reviewsFeaturedPostContent {
    position: relative;
    padding: 3px;
}
.rev-img {
    width: 50px;
    border-radius: 50%;
}
//***************************************************************
//cycle list:

.root {
    display: "flex";
}
.details {
    display: "flex";
    flex-direction: "column";
}
.content {
    flex: "1 0 auto";
}
.cover {
    width: 151;
}
.controls {
    display: "flex";
    align-items: "center";
    padding-left: 1px;
    padding-bottom: 1px;
}
span {
    font-size: 30px;
}
//date

.container {
    display: "flex";
    flex-wrap: "wrap";
}
.textField {
    margin-left: 1px;
    margin-right: 1px;
    width: 200px;
}
